#container{
    display: flex;
    margin:  300px;
    column-gap: 20px;
    justify-content: center;
    align-items: center;
}
#box{
    width: 20%;
    height: 65px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
}
.digit{
    font-size: 40px;

}
#ampm{
    width: 10%;
    background-color: black;
    color: white;
    font-size: 40px;
    text-align: center;
    border-radius: 10px;
}
#colon{
    font-size: 40px;
}

